{%extends 'base.html'%}
{% load bootstrap4 %}
{%load static%}
{% block content %}
{{ block.super}}



<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {

            font-family: "Lato", sans-serif;
        }
    </style>
</head>

<body>
    <br>
    <br>
    <p style="padding-left:30%; margin-top: -2rem;">The flashcard. Tech privileges.</p>
    <br>
    <div class="row">
        {% for flashcards_item in flashcards %}
        <div class="col-md-4">
            <div class="card-deck">
                <div class="card mb-2 mt-2 ">
                    <!-- Card image -->
                    <div class="view overlay zoom image2">
                        {% if flashcards_item.flashcards_image %}
                        <a href="/flashcards/{{flashcards_item.id}}">
                            <img class="card-img-top" src="{{flashcards_item.flashcards_image.url}}"
                                alt="{{ flashcards_item.flashcards_name }}" height="300px" width="320">
                        </a>
                        {% else %}
                        <a href="/flashcards/{{flashcards_item.id}}">
                            <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
                                alt="{{ flashcards_item.flashcards_name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="card-body pr-2 pl-2 pr-2 mr-2">
                        <h5 class="card-title ml-4">{{ flashcards_item.flashcards_title }}</h5>
                        <div class="row ml-2">
                            
                            <div class="col-lg-6 dark-text d-flex justify-content-end"> <small>
                                    {{flashcards_item.pub_date|date:"d /m/Y"}} </small></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of card deck  -->
        </div>
        {% endfor %}
    </div>
    </div>
    {% endblock %}
    {% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock %}

</body>

</html>